<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_resources)/urdf/common_materials.xacro"/>
  <xacro:include filename="$(find motoman_sda10f_support)/urdf/common_torso_macro.xacro" />
  <xacro:include filename="$(find motoman_sda10f_support)/urdf/arm_macro.xacro" />

  <xacro:macro name="motoman_sda10f" params="prefix left_arm_prefix right_arm_prefix left_base_prefix right_base_prefix">
    <xacro:torso name="${prefix}torso" prefix="${prefix}"  left_base_prefix="${left_base_prefix}" right_base_prefix="${right_base_prefix}"/>

    <xacro:motoman_arm name="${prefix}${left_arm_prefix}arm" prefix="${prefix}${left_arm_prefix}" parent="${prefix}${left_base_prefix}base_link" reflect="1">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:motoman_arm>

    <xacro:motoman_arm name="${prefix}${right_arm_prefix}arm" prefix="${prefix}${right_arm_prefix}" parent="${prefix}${right_base_prefix}base_link" reflect="-1">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:motoman_arm>

    <!-- link list -->
    <link name="${prefix}base_link" />

    <!-- joint list -->
    <joint name="${prefix}base_link_to_${prefix}torso_base_link" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}torso_base_link"/>
      <origin xyz="0 0 1.2" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
