<?xml version="1.0" ?>

<robot name="motoman_sda10f" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find motoman_sda10f_support)/urdf/sda10f_macro.xacro" />
    <!-- Plain language description -->
    <!-- <xacro:motoman_sda10f prefix="" left_arm_prefix="left_arm_" right_arm_prefix="right_arm_" left_base_prefix="left_" right_base_prefix="right_" /> -->
    <!-- MotoROS2 Default -->
    <xacro:motoman_sda10f prefix="" left_arm_prefix="group_1/" right_arm_prefix="group_2/" left_base_prefix="group_3/" right_base_prefix="group_4/" />
</robot>

